@media screen and (max-width:1200px){
	input[type="submit"]{
		padding:14px 10px 10px 10px;
		font-size:9px;
	}
}
@media screen and (max-width:1000px){

	header{
		.logo{
			a{
				img{
					width:50%;
					height:50%;
				}
			}
		}
	}
}

@media screen and (max-width:980px){
	input[type="submit"]{
		float:left;
		margin-top:20px;
	}

	header{
		.nav{
			ul{
				li{
					a{
						font-size:11px;
					}
				}
			}
		}
	}
}

@media screen and (max-width:768px){
	.grid-item--width2 { width: 50%; }

	footer{
		#email,
		#phone{
			float:none;
			font-size:18px;
		}

		.social-media{
			text-align:center;
			margin:5px 0;
			font-size:18px;
		}

		#copyright{
			text-align:left;
			font-size:12px;
		}

		#credit {
			text-align:right;
		}
	}

	header{
		.logo{
			a{
				img{
					width:50%;
				}
			}
		}

		.navbar{
			&.navbar-default{
				padding:0;
				margin:0;
				padding:10px 10px 0 0;
			}
		}

		.nav{
			ul{
				li{
					display:block;

					a{
						line-height:3;
					}
				}
			}
		}
	}

	section {
		&.error-404 {
			h1 {
				font-size:42px;
			}

			form {
				&[role="search"] {
					input {
						margin-top:0;
					}
				}
			}
		}
	}
}

@media screen and (max-width:736px) {
	header {
		.navbar {
			&.navbar-default {
				button {
					&.hamburger {
						display:block;
						padding:0;
					}
				}
			}
		}
	}

	footer {
		.social-media,
	 	#credit {
			text-align:left;
		}
	}
}

@media screen and (max-width:450px){
	header{
		.logo{
			a{
				img{
					width:80%;
				}
			}
		}
	}

	.grid-item--width2 { width: 100%; }

	input[type="submit"]{
		float:left;
		margin-top:20px;
	}
}

@media screen and (max-width:414px) {
	.owl-carousel {
		.owl-stage-outer {
			height:250px;

			.item {
				height:250px;
			}
		}
	}

	#page-load {
		img {
			width:30%;
		}
	}

	header {
		.navbar {
			&.navbar-default {
				button {
					&.hamburger {
						display:inline-block;
					}
				}
			}
		}
	}

	footer {
		.social-media,
		#credit {
			text-align:left;
		}
	}

	section {
		&.error-404 {
			h1 {
				font-size:34px;
			}
		}
	}
}
