@font-face {
  font-family: 'Futurist';
  src: url('../fonts/futurist/futrfw-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futurist/futrfw-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/futurist/fuwebfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futurist/futrfw-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Bromello';
  src: url('../fonts/bromello/bromello-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bromello/bromello-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/bromello/bromello.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bromello/bromello-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}

$blue: #000A49;

body.sticky{
	.navbar-default{
		position:fixed;
		width:100%;
		top:0;
		z-index:999;
	}
}
p{
	font-family:'Work Sans';
	font-weight:300;
}

header{
	.logo{
		a{
			display:flex;
			justify-content:center;

			img{
				width:30%;
				height:50%;
			}
		}
	}

	.navbar{
		&.navbar-default{
			background-image:none;
			box-shadow:none;
			border:none;
			border-radius:0;
			padding:15px 0;
			background-color:#fff;

			button{
				&.navbar-toggle{
					background-image:none;
					background-color:transparent;
					border:none;
					border-radius:0;
					box-shadow:none;
				}

				&.hamburger {
					display:none;
				}
			}

			.navbar-collapse{
				text-align:center;
			}
		}
	}

	.nav{
		ul {
			margin-left:0;
			padding-left:0;
			list-style-type:none;
			display:inline-block;
			float:none;

			li {
				display:inline-block;
				font-family:'Futurist';
				text-transform:uppercase;

				&.current-menu-item{
					color:$blue;

					a{
						color:$blue;

						&::after,
						&::before{
							opacity:1;
							transform:translate3d(0,0,0);
						}
					}
				}

				a{
					padding:10px 40px;
					text-decoration:none;
					color:$blue;
					font-size:12px;
					position:relative;

					&:hover{
						&::before,
						&::after{
							opacity:1;
							transform:translate3d(0,0,0);
						}
					}
					&::before,
					&::after{
						content:'';
						position:absolute;
						width:10px;
						height:10px;
						opacity:0;
						border:solid 1px $blue;
						transition:transform 0.3s, opacity 0.3s;
						transition-timing-function:cubic-bezier(0.17, 0.67, 0.05, 1.29);
					}

					&::before{
						top:0;
						left:0;
						border-width:1px 0 0 1px;
						transform:translate3d(10px, 10px, 0);
					}

					&::after{
						right:0;
						bottom:0;
						border-width:0 1px 1px 0;
						transform:translate3d(-10px, -10px, 0);
					}
				}
			}
		}
	}
}

.social-media{
	margin-top:20px;

	i{
		color:$blue;
		padding-right:5px;
	}
}

footer{
	margin-top:40px;
	color:$blue;
	opacity:0;
	transition:all 0.4s ease;

	&.stuck{
		bottom:0;
		position:fixed;
		width:100%;
	}

	&.visible{
		opacity:1;
	}

	.social-media{
		margin-top:0;
		text-align:center;
	}

	#email{
		text-align:right;
		float:right;
	}

	#phone{
		text-align:left;
	}

	a{
		text-decoration:none;
		letter-spacing:0.05em;
		color:$blue;
		text-decoration:none;

		&:hover{
			text-decoration:none;
			color:$blue;
		}
	}

	#copyright{
		font-size:11px;
		margin-top:10px;
	}

	#credit{
		font-size:10px;
		text-transform:uppercase;
		margin-top:10px;
		text-align:right;

		a{
			font-weight:400;
		}

		i{
			color:#cf000f;
			padding:0;
		}
	}
}

/********************
	ISOTOPES
	******************/

/* fluid 5 columns */
.grid-sizer,
.grid-item { width: 20%; }
/* 2 columns */
.grid-item--width2 { width: 40%; }

.grid-item {
  float: left;
  width: 80px;
  border: 4px solid rgba(255, 255, 255, 1);
  display:block;

  &:hover{
	  .post-overlay{
		  opacity:1;
	  }
  }

  .post-overlay{
	  position:absolute;
	  width:100%;
	  height:100%;
	  top:0;
	  left:0;
	  background-color:rgba(0, 10, 73, 0.5);
	  color:#fff;
	  text-align:center;
	  flex-direction:column;
	  justify-content: center;
	  transition: opacity 0.3s ease-in-out;
	  display:flex;
	  opacity:0;

	  h3{
		  font-family:'Futurist';
		  text-transform:uppercase;
		  font-size:12px;
	  }
  }
}

.grid-item--width2 { width: 33.33%; }
.grid-item--height2 { height: 140px; }

/******************
	ABOUT
******************/
h1{
	font-family:'Bromello';
	text-align:left;
	font-size:55px;
	letter-spacing:0.06em;
	margin-bottom:40px;
	color:$blue;
}

/*******************
	CONTACT
*******************/
.contact-details{
	padding:0;
	margin:0;
	list-style-type:none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea{
	letter-spacing:0.04em;
	padding:8px;
	font-weight:300;
	font-family:'Work Sans';

	&:focus{
		border-color:$blue;
	}
}

input[type="submit"]{
	background-color:#fff;
	padding:14px 30px 10px 30px;
	color:$blue;
	font-family:'Futurist';
	text-transform:uppercase;
	border-radius:0;
	border:solid 1px $blue;
	font-size:10px;
	float:right;
	margin-top:3px;
	transition:0.2s ease-in-out;

	&:hover{
		background-color:$blue;
		color:#fff;
		border:solid 1px $blue;
		box-shadow:none;
		text-shadow:none;
	}
}

.form-control{
	padding:6px 6px;
	letter-spacing:0.06em;

	&:focus{
		border-color:$blue;
	}
}

img.ajax-loader{
	display:none;
}

/*****************
	SINGLE PORTFOLIO
*****************/

.slick {
	position:relative;

	img {
		max-height:400px;
		margin:0 2px;
	}
}

.slick-arrow {
	position:absolute;
	top:50%;
	padding:0 20px;

	&:hover {
		cursor:pointer;
	}

	&.left,
	&.right {
		color:#fff;
		font-size:30px;
	}

	&.left {
		left:0;
		z-index:1;
	}

	&.right {
		right:0;
	}
}

.single-title{
	margin-bottom:40px;
}

.portfolio-content{
	margin-bottom:40px;
}

#swipe-message{
	text-align:center;
	color:#C0C5CE;
	margin:0 0 10px 0;
	font-size:16px;

	i{
		padding:0 5px;
	}
}

#page-load {
	background-color:#fff;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	z-index:2;

	img {
		width:10%;
	}
}

//404
.error404 {
	.home-button {
		text-align:center;

		a.btn {
			border:solid 1px $blue;
			color:$blue;
			text-transform:uppercase;
			font-family:'Futurist';
			padding:14px 30px 10px 30px;
			border-radius:0;
			transition:all 0.4s ease;

			i {
				margin-right:10px;
			}

			&:hover{
				background-color:$blue;
				text-decoration:none;
				color:#fff;
				border:solid 1px $blue;
				box-shadow:none;
				text-shadow:none;
			}
		}
	}
}

@import 'responsive';
